.news img {
  width: 12%;
  float: left;
  padding: 0.5em;
  margin: 0 1em 0.5em 0.5em;
}

.news h2 {
  margin: 0.5em 0.7em;
  font-size: 1.5em;
  color: #27318b;
}

.news hr {
  margin: 1em;
  border: 1px dotted #27318b;
  clear: both;
}

.news time {
  font-size: 90%;
  font-style: italic;
}

.description {
  font-weight: bold;
  margin: 0.8em 1em 1.5em 1em;
}

#news_gallery figure {
  padding: 0.5em;
  margin: 0 1em 0.5em 1em;
  float: left;
  width: 10%;
  border: 1px solid black;
}

#news_gallery figcaption {
  font-size: 90%;
  text-align: center;
}
