.news img {
  width: 12%;
  float: left;
  padding: 0.5em;
  margin: 0 1em 0.5em 0.5em;
}

.news h2 {
  margin: 0.5em 0.7em;
  font-size: 1.5em;
  color: darkolivegreen;
}

.news hr {
  margin: 1em;
  border: 1px dotted darkolivegreen;
  clear: both;
}

.news time {
  font-size: 90%;
  font-style: italic;
}
