@import "css/fonts.css";
@import "css/banner.css";
@import "css/navbar.css";

body,
html {
  margin: 0;
  height: 100%;
  background-color: gray;
  font-family: "Roboto", sans-serif;
}

header {
  display: block;
  width: 100%;
}
